spring:
  application:
    name: hotel-service
  datasource:
    url: jdbc:postgresql://localhost:5432/hoteldb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8083
